/*TODO:
Disable "." button for users if deciaml was already put in
Nicer display for numbers
Update and arrange buttons
*/

* {
    font-size: 55px;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.calculator-body {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.calculator-body.div {
    display: flex;

}